body {
	background-color: #FAFAFA !important;
	overflow-x: hidden;
}

.nav-header {
	min-height: 40px !important;
	margin-bottom: 0 !important;
}

.bg-weixin {
	display: block;
	float: right;
	margin: 0.5em;
    width: 25px; height: 25px;
    background: url('../imgs/css_sprites.png') -10px -92px;
}

.bg-qq {
	display: block;
	float: right;
	margin: 0.5em;
    width: 25px; height: 25px;
    background: url('../imgs/css_sprites.png') -55px -92px;
}

.bg-weibo {
	display: block;
	float: right;
	margin: 0.5em;
    width: 25px; height: 25px;
    background: url('../imgs/css_sprites.png') -100px -92px;
}

.hot-line {
	color: #1DB176;
	line-height: 40px;
}

.navbar-default {
	background-color: #1DB176 !important;
	color: #fff;
	border-color: #1DB176 !important;
	margin-bottom: 0 !important;
	border-radius: 0 !important;
}

.logo {
	display: block;
	float: left;
	position: relative;
	top: 1em;
}

#collapse-nav ul {
	font-size: 1.1em;
	letter-spacing: 0.3em;
	text-align: center;
}

#collapse-nav li {
	padding: 1em 0;
}

#collapse-nav li>a {
	color: #FFFFFF;
}

#collapse-nav li:hover {
	border-bottom: 3px solid #FFFFFF;
}

.bg-rocket {
	display: block;
    width: 60px; height: 62px;
    margin: 0 auto;
    background: url('../imgs/css_sprites.png') -10px -10px;
}

.bg-archive {
	display: block;
    width: 60px; height: 62px;
    margin: 0 auto;
    background: url('../imgs/css_sprites.png') -90px -10px;
}

.bg-person {
	display: block;
    width: 60px; height: 62px;
    margin: 0 auto;
    background: url('../imgs/css_sprites.png') -170px -10px;
}

.bg-user {
	display: block;
    width: 13px; height: 13px;
    background: url('../imgs/css_sprites.png') -190px -92px;
    float: left;
    margin: 3px;
}

.row {
	padding-top: 8em;
}

.model-1 {
	width: 100%;
}

.number {
	color: #21AF75;
	font-weight: bold;
	margin-left: 10px;
}

p {
	width: 80%;
	color: grey;
	margin: 0 auto !important;
	padding-bottom: 1em;
}

.model-1 b {
	display: block;
	width: 2em;
	margin: 2em auto;
}

.describe {
	display: block;
	color: grey;
	margin: 0.5em 0;
}

.count {
	width: 100%;
	padding-top: 3em;
}

.count div {
	width: 10em;
	margin: 0 auto;
	padding-bottom: 1em;
}

.setborder {
	border-right: 1px dashed #B1B1B1;
}

h4 {
	text-align: center;
	font-weight: bold !important;
	padding: 2em 0 2em 0;
}

.study-down {
	padding-top: 4em;
}

.model-2 {
	width: 100%;
	display: flex;
	align-items: center;
}

.circle {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 10px lightgrey;
	float: left;
}

.circle span {
	display: block;
	font-size: 1.25em;
	color: #1DB176;
	line-height: 50px;
	text-align: center;
}

.study-text {
	width: 10em;
	position: relative;
	top: 0.5rem;
}

.bg-next {
	display: block;
    width: 25px; height: 23px;
    background: url('../imgs/css_sprites.png') -145px -92px;
    float: right;
}

.student-name {
	display: block;
}

.model-3 {
	background-color: #FFFFFF;
	box-shadow: 0px 1px 10px lightgrey;
	border-radius: 1rem;
}

.model-3 img {
	display: block;
	margin: 0 auto;
	padding-top: 1.5em;
}

.model-3 b {
	display: block;
	width: 8em;
	margin: 1.5em auto;
}

.student-slide {
	width: 4em;
	margin: 0 auto;
	padding-top: 2em;
}

.slide-1 {
	display: block;
	width: 9px;
	height: 9px;
	border-radius: 5em;
	background-color: #1DB176;
	float: left;
	margin: 2px;
}

.slide-2 {
	display: block;
	width: 9px;
	height: 9px;
	border-radius: 5em;
	background-color: #FFFFFF;
	float: left;
	margin: 2px;
	box-shadow: 0px 1px 10px grey;
}

.enterprise {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.enterprise img {
	display: block;
	padding: 2em;
	margin: 0 1.1em;
	box-shadow: 0px 1px 10px lightgrey;
	background-color: #FFFFFF;
	border-radius: 1rem;
}

.links-ad {
	color: grey;
	padding: 0 15px 0 15px;
}

.links-ad li {
	float: left;
	margin-left: 3.55em;
}

.foot {
	margin-top: 1em;
}

.foot-left {
	float: left;
	margin-right: 10em;
}

.foot-center {
	float: left;
}

.foot-center ul {
	list-style: none;
	padding-left: 0;
	padding-top: 2.1em;
}

.foot-center>ul>li {
	float: left;
	margin-right: 1em;
}

.foot-right {
	float: right;
}

.foot-right span {
	display: block;
	padding-left: 0.3rem;
	padding-bottom: 0.3rem;
}

.foot p {
	width: 15em;
	color: #fff;
}

.note {
	width: 100%;
	border-top: 2px solid #32C086 !important;
	min-height: 0 !important;
}

.note span {
	display: block;
	width: 38em;
	margin: 0 auto;
	font-size: 0.5em;
}

.login {
	position: absolute;
	bottom: 0.7em;
}

.login a {
	text-decoration: none;
	color: unset;
}

.login a:hover {
	text-decoration: none;
	color: #1DB176;
}

.in {
	padding-right: 0.5em;
	border-right: 1px solid #1DB176;
}

.up {
	padding-left: 0.3em;
}

@media (min-width: 768px) {
	#collapse-nav ul {
		float: right;
	}

	.info {
		visibility: visible;
	}

	.login {
		margin-left: 82%;
		visibility: hidden;
	}
}

@media (max-width: 768px) {
	.enterprise img {
		margin: 1em auto;
	}

	.model-3 {
		margin-bottom: 1em;
	}

	.circle {
		margin-left: 15%;
	}

	.study-text {
		margin-left: 2em !important;
		top: 1rem;
	}
}

@media (max-width: 760px) {
	.info {
		visibility: hidden;
	}

	.login {
		margin-left: 70%;
		visibility: visible;
	}

	.logo {
		top: 0;
	}

	.setborder {
		border-right: 0;
	}

	.bg-next {
		visibility: hidden;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.enterprise img{
	    margin: 1em auto;
	}
}

@media (min-width: 425px) and (max-width: 766px) {
	.info {
		visibility: visible;
	}

	.login {
		visibility: hidden;
	}
}

@media (width: 768px) {
	.study-step {
		width: 50% !important;
	}
}