.nav-header {
	min-height: 40px !important;
	margin-bottom: 0 !important;
}

.bg-weixin {
	display: block;
	float: right;
	margin: 0.5em;
    width: 25px; height: 25px;
    background: url('../imgs/css_sprites.png') -10px -92px;
}

.bg-qq {
	display: block;
	float: right;
	margin: 0.5em;
    width: 25px; height: 25px;
    background: url('../imgs/css_sprites.png') -55px -92px;
}

.bg-weibo {
	display: block;
	float: right;
	margin: 0.5em;
    width: 25px; height: 25px;
    background: url('../imgs/css_sprites.png') -100px -92px;
}

.hot-line {
	color: #1DB176;
	line-height: 40px;
}

.navbar-default {
	background-color: #1DB176 !important;
	color: #fff;
	border-color: #1DB176 !important;
	margin-bottom: 0 !important;
	padding: 1em;
}

.navbar-default .navbar-nav>li>a {
	color: #fff !important;
	/*padding-right: 0;*/
}

.navbar-collapse {
	padding-right: 0 !important;
}

ul {
	float: right !important;
	font-size: 1.1em;
	letter-spacing: 0.3em;
}

.bg-rocket {
	display: block;
    width: 60px; height: 62px;
    background: url('../imgs/css_sprites.png') -10px -10px;
}

.bg-archive {
	display: block;
    width: 60px; height: 62px;
    background: url('../imgs/css_sprites.png') -90px -10px;
}

.bg-person {
	display: block;
    width: 60px; height: 62px;
    background: url('../imgs/css_sprites.png') -170px -10px;
}