.nav-header {
	min-height: 40px !important;
	margin-bottom: 0 !important;
}

.bg-weixin {
	display: block;
	float: right;
	margin: 0.5em;
    width: 25px; height: 25px;
    background: url('../imgs/css_sprites.png') -10px -92px;
}

.bg-qq {
	display: block;
	float: right;
	margin: 0.5em;
    width: 25px; height: 25px;
    background: url('../imgs/css_sprites.png') -55px -92px;
}

.bg-weibo {
	display: block;
	float: right;
	margin: 0.5em;
    width: 25px; height: 25px;
    background: url('../imgs/css_sprites.png') -100px -92px;
}

.hot-line {
	color: #1DB176;
	line-height: 40px;
}

.navbar-default {
	background-color: #1DB176 !important;
	color: #fff;
	border-color: #1DB176 !important;
	margin-bottom: 0 !important;
	padding: 1em;
}

.navbar-default .navbar-nav>li>a {
	color: #fff !important;
	/*padding-right: 0;*/
}

.navbar-collapse {
	padding-right: 0 !important;
}

ul {
	float: right !important;
	font-size: 1.1em;
	letter-spacing: 0.3em;
}

.bg-rocket {
	display: block;
    width: 60px; height: 62px;
    margin: 0 auto;
    background: url('../imgs/css_sprites.png') -10px -10px;
}

.bg-archive {
	display: block;
    width: 60px; height: 62px;
    margin: 0 auto;
    background: url('../imgs/css_sprites.png') -90px -10px;
}

.bg-person {
	display: block;
    width: 60px; height: 62px;
    margin: 0 auto;
    background: url('../imgs/css_sprites.png') -170px -10px;
}

.bg-user {
	display: block;
    width: 13px; height: 13px;
    background: url('../imgs/css_sprites.png') -190px -92px;
    float: left;
    margin: 3px;
}

.row {
	padding-top: 8em;
}

.model-1 {
	width: 100%;
}

.number {
	color: #21AF75;
	font-weight: bold;
	margin-left: 10px;
}

p {
	width: 13em;
	color: grey;
	margin: 0 auto !important;
}

.model-1 b {
	display: block;
	width: 2em;
	margin: 2em auto;
}

.describe {
	display: block;
	color: grey;
	margin: 0.5em 0;
}

.count {
	width: 100%;
	padding-top: 3em;
}

.count div {
	width: 10em;
	margin: 0 auto;
	padding-bottom: 1em;
}

.setborder {
	border-right: 1px dashed #B1B1B1;
}

h4 {
	text-align: center;
	font-weight: bold !important;
	padding: 2em 0 2em 0;
}

.study-down {
	padding-top: 4em;
}

.model-2 {
	width: 100%;
}

.circle {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 10px lightgrey;
	float: left;
}

.circle span {
	display: block;
	font-size: 1.25em;
	color: #1DB176;
	line-height: 50px;
	text-align: center;
}

.study-text {
	width: 10em;
	position: relative;
	top: 0.5rem;
}

.bg-next {
	display: block;
    width: 25px; height: 23px;
    background: url('../imgs/css_sprites.png') -145px -92px;
    float: right;
    position: relative;
    bottom: 2em;
}

.student-name {
	display: block;
}

.model-3 {
	width: 90%;
	height: 22em;
	box-shadow: 0px 1px 10px lightgrey;
}

.model-3 img {
	display: block;
	margin: 0 auto;
	padding-top: 1.5em;
}

.model-3 b {
	display: block;
	width: 8em;
	margin: 1.5em auto;
}

.enterprise {
	width: 100%;
}

.enterprise img {
	box-shadow: 0px 1px 10px lightgrey;
}

.student-slide {
	width: 4em;
	margin: 0 auto;
	padding-top: 2em;
}

.slide-1 {
	display: block;
	width: 9px;
	height: 9px;
	border-radius: 5em;
	background-color: #1DB176;
	float: left;
	margin: 2px;
}

.slide-2 {
	display: block;
	width: 9px;
	height: 9px;
	border-radius: 5em;
	background-color: #FFFFFF;
	float: left;
	margin: 2px;
	box-shadow: 0px 1px 10px lightgrey;
}