.nav-header {
	min-height: 40px !important;
	margin-bottom: 0 !important;
}

.bg-weixin {
	display: block;
	float: right;
	margin: 0.5em;
    width: 25px; height: 25px;
    background: url('../imgs/css_sprites.png') -10px -92px;
}

.bg-qq {
	display: block;
	float: right;
	margin: 0.5em;
    width: 25px; height: 25px;
    background: url('../imgs/css_sprites.png') -55px -92px;
}

.bg-weibo {
	display: block;
	float: right;
	margin: 0.5em;
    width: 25px; height: 25px;
    background: url('../imgs/css_sprites.png') -100px -92px;
}

.hot-line {
	color: #1DB176;
	line-height: 40px;
}

.navbar-default {
	background-color: #1DB176 !important;
	color: #fff;
	border-color: #1DB176 !important;
	margin-bottom: 0 !important;
	border-radius: 0 !important;
}

.logo {
	display: block;
	float: left;
	position: relative;
	top: 1em;
}

@media (min-width: 768px) {
	#collapse-nav ul {
		float: right;
	}
}

#collapse-nav ul {
	font-size: 1.1em;
	letter-spacing: 0.3em;
	text-align: center;
}

#collapse-nav li {
	padding: 1em 0;
}

#collapse-nav li>a {
	color: #FFFFFF;
}

#collapse-nav li:hover {
	border-bottom: 3px solid #FFFFFF;
}

.foot {
	margin-top: 1em;
}

.foot-left {
	float: left;
	margin-right: 10em;
}

.foot-center {
	float: left;
}

.foot-center ul {
	list-style: none;
	padding-left: 0;
	padding-top: 2.1em;
}

.foot-center>ul>li {
	float: left;
	margin-right: 1em;
}

.foot-right {
	float: right;
}

.foot-right span {
	display: block;
	padding-left: 0.3rem;
	padding-bottom: 0.3rem;
}

.foot p {
	width: 15em;
	color: #fff;
}

.note {
	width: 100%;
	border-top: 2px solid #32C086 !important;
	min-height: 0 !important;
}

.note span {
	display: block;
	width: 38em;
	margin: 0 auto;
	font-size: 0.5em;
}

.breadcrumb {
	background-color: unset !important;
	margin-top: 20px;
	padding: 8px 0 !important;
}

.breadcrumb>li+li:before {
	color: #000000 !important;
	content: ">" !important;
}

.breadcrumb a {
	color: black;
}

.breadcrumb a:hover {
	color: #1DB176;
	text-decoration:none;
}

.breadcrumb a:active {
	color: #1DB176;
	text-decoration:none;
}

.list-index {
	list-style: none;
	padding: 1.5em 0;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid #f0f0f0;
}

.list-index li {
	/*float: left;*/
	display: inline-block;
	margin-right: 1em;
}

.list-index li>a {
	text-decoration: none;
	color: unset;
}

.list-index li>a:hover {
	color: #FFFFFF;
	background-color: #1DB176;
}

h3 {
	padding: 1em 0;
	border-bottom: 1px solid lightgrey;
	margin-bottom: 2em !important;
}

h4 {
	font-weight: bold !important;
}

table {
	box-shadow: 0px 1px 10px lightgrey;
	word-wrap: break-word;
	word-break: break-all;
}

td {
	vertical-align: middle !important;
}

span:first-child {
	color: grey;
	margin-right: 1rem;
}

tr:last-child {
	color: grey;
}

img:nth-child(2), img:nth-child(3) {
	vertical-align: unset;
	position: relative;
	top: 1px;
}

note {
	color: red;
}

tr:nth-child(2)>td, tr:nth-child(3)>td, tr:nth-child(4)>td {
	border-right: 1px solid #ddd;
}

b {
	color: red;
}

.experience {
	color: unset !important;
}

.money {
	display: block;
	float: right;
}