.nav-header {
	min-height: 40px !important;
	margin-bottom: 0 !important;
}

.bg-weixin {
	display: block;
	float: right;
	margin: 0.5em;
    width: 25px; height: 25px;
    background: url('../imgs/css_sprites.png') -10px -92px;
}

.bg-qq {
	display: block;
	float: right;
	margin: 0.5em;
    width: 25px; height: 25px;
    background: url('../imgs/css_sprites.png') -55px -92px;
}

.bg-weibo {
	display: block;
	float: right;
	margin: 0.5em;
    width: 25px; height: 25px;
    background: url('../imgs/css_sprites.png') -100px -92px;
}

.hot-line {
	color: #1DB176;
	line-height: 40px;
}

.navbar-default {
	background-color: #1DB176 !important;
	color: #fff;
	border-color: #1DB176 !important;
	margin-bottom: 0 !important;
	border-radius: 0 !important;
}

.logo {
	display: block;
	float: left;
	position: relative;
	top: 1em;
}

#collapse-nav ul {
	font-size: 1.1em;
	letter-spacing: 0.3em;
	text-align: center;
}

#collapse-nav li {
	padding: 1em 0;
}

#collapse-nav li>a {
	color: #FFFFFF;
}

#collapse-nav li:hover {
	border-bottom: 3px solid #FFFFFF;
}

.foot {
	margin-top: 1em;
}

.foot-left {
	float: left;
	margin-right: 10em;
}

.foot-center {
	float: left;
}

.foot-center ul {
	list-style: none;
	padding-left: 0;
	padding-top: 2.1em;
}

.foot-center>ul>li {
	float: left;
	margin-right: 1em;
}

.foot-right {
	float: right;
}

.foot-right span {
	display: block;
	padding-left: 0.3rem;
	padding-bottom: 0.3rem;
}

.foot p {
	width: 15em;
	color: #fff;
}

.note {
	width: 100%;
	border-top: 2px solid #32C086 !important;
	min-height: 0 !important;
}

.note span {
	display: block;
	width: 38em;
	margin: 0 auto;
	font-size: 0.5em;
}

.hand {
	width: 100%;
}

.hand img {
	width: 100%;
}

.breadcrumb {
	background-color: unset !important;
	margin-top: 20px;
	padding: 8px 0 !important;
}

.breadcrumb>li+li:before {
	color: #000000 !important;
	content: ">" !important;
}

.breadcrumb a {
	color: black;
}

.breadcrumb a:hover {
	color: #1DB176;
	text-decoration:none;
}

.breadcrumb a:active {
	color: #1DB176;
	text-decoration:none;
}

.company-list {
	width: 22%;
	box-shadow: 0px 1px 10px grey;
	float: left;
	clear: both;
}

.list-title {
	width: 100%;
	height: 4em;
	border-bottom: 1px solid lightgrey;
}

.list-title p {
	width: 4em;
	margin: 0 auto;
	line-height: 3em;
	font-weight: bold;
	font-size: 2rem;
}

ul.list-content {
	padding-top: 1em;
	padding-bottom: 2em;
	padding-left: 0;
}

.list-content li {
	width: 4em;
	margin: 0 auto;
	padding-top: 1.5em;
	list-style-image: url(../imgs/list.png);
}

/*.list-content li:hover {
	list-style-image: url(../imgs/list0.png);
}
*/
.list-content li:active {
	list-style-image: url(../imgs/list0.png);
}

.list-content>li>a {
	color: #1DB176;
	text-decoration: none;
}

.list-content>li>a:hover {
	color: #F9A372;
}

.list-content>li>a:active {
	color: #F9A372;
}

.company-intro {
	width: 100%;
	float: left;
	/*margin-left: 3%;*/
	/*margin-bottom: 10%;*/
	color: grey;
	/*box-shadow: 0px 1px 10px grey;*/
}

.company-basicinfo {
	height: 10em;
	border-bottom: 1px solid lightgrey;
}

.company-icon {
	float: left;
	padding: 7% 3% 0 5%;
}

.company-basicinfo p {
	width: 96%;
	padding-top: 3em;
}

.company-maininfo p {
	width: 90%;
	margin: 2em auto;
	text-indent: 2em;
	line-height: 2em;
}

iframe {
    width: 75%;
    height: 70em;
	float: left;
	margin-left: 3%;
	margin-bottom: 8%;
	border: 0;
	box-shadow: 0px 1px 10px grey;
}

.login {
	position: absolute;
	bottom: 0.7em;
}

.login a {
	text-decoration: none;
	color: unset;
}

.login a:hover {
	text-decoration: none;
	color: #1DB176;
}

.in {
	padding-right: 0.5em;
	border-right: 1px solid #1DB176;
}

.up {
	padding-left: 0.3em;
}

@media (min-width: 768px) {
	#collapse-nav ul {
		float: right;
	}

	.info {
		visibility: hidden;
	}

	.login {
		margin-left: 82%;
		visibility: visible;
	}
}

@media (min-width: 992px) {
	.info {
		visibility: visible;
	}
	
	.login {
		visibility: hidden;
	}
}

@media (max-width: 700px) {
	.info {
		visibility: hidden;
	}

	.login {
		margin-left: 70%;
		visibility: visible;
	}

	.company-basicinfo {
		height: 13.5em;
	}

	.company-basicinfo p {
		padding-left: 1em !important;
		padding-top: 1em;
	}

	.logo {
		top: 0;
	}
}

@media (max-width: 768px) {
	.company-list {
		width: 100%;
		margin-bottom: 1em;
	}

	iframe {
		width: 100%;
		margin-left: 0;
	}

	.company-basicinfo p {
	    padding-left: 30%;
    }
}